Package: com.yourname.tssbypass
Name: TssBypass
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Ace SDK Memory Patch for A17 Pro
Maintainer: YourName
Author: YourName
Section: Tweaks
