Run git clone https://github.com/jmpews/Dobby.git --depth 1
Cloning into 'Dobby'...
CMake Deprecation Warning at CMakeLists.txt:1 (cmake_minimum_required):
  Compatibility with CMake < 3.10 will be removed from a future version of
  CMake.

  Update the VERSION argument <min> value.  Or, use the <min>...<max> syntax
  to tell CMake that the project requires at least <min> but has been updated
  to work with policies introduced by <max> or earlier.


-- The C compiler identification is AppleClang 17.0.0.17000013
-- The CXX compiler identification is AppleClang 17.0.0.17000013
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++ - skipped
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- The ASM compiler identification is AppleClang
-- Found assembler: /usr/bin/cc
-- 
CMake Error at cmake/build_environment_check.cmake:33 (string):
-- ********* build environment check ***********
-- 	Compiler: 	 AppleClang
  string no output variable specified
-- Configuring incomplete, errors occurred!
Call Stack (most recent call first):
  CMakeLists.txt:7 (include)


CMake Error at cmake/build_environment_check.cmake:53 (message):
  Processor not configured
Call Stack (most recent call first):
  CMakeLists.txt:7 (include)


Error: Process completed with exit code 1.