name: Build-Dobby-iOS

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone Dobby
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth=1

      - name: Bypass Dobby CMake Environment Check (BUGFIX)
        run: |
          echo ">>> Patching Dobby CMake bug"
          sed -i '' '1,200d' Dobby/cmake/build_environment_check.cmake
          echo 'message(STATUS "Dobby environment check bypassed")' > Dobby/cmake/build_environment_check.cmake

      - name: Build libdobby.a (iOS arm64)
        run: |
          cd Dobby
          mkdir build
          cd build

          cmake .. \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_SYSROOT=iphoneos \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DBUILD_SHARED_LIBS=OFF

          make -j$(sysctl -n hw.ncpu)

      - name: Collect libdobby.a
        run: |
          find Dobby -name "libdobby.a"
          mkdir output
          cp Dobby/build/libdobby.a output/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-ios-arm64
          path: output/libdobby.a