name: "Kingmod Dylib Builder"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Theos Environment
        run: |
          export THEOS=~/theos
          # Klasör zaten varsa sil ki 'already exists' hatası vermesin
          rm -rf $THEOS
          git clone --recursive https://github.com/theos/theos.git $THEOS
          echo "THEOS=$THEOS" >> $GITHUB_ENV

      - name: Setup iOS SDK
        run: |
          # SDK klasörünü temizleyip taze klon çekiyoruz
          rm -rf ${{ env.THEOS }}/sdks
          git clone --depth 1 https://github.com/theos/sdks.git ${{ env.THEOS }}/sdks

      - name: Compile Kingmod Dylib
        run: |
          export THEOS=${{ env.THEOS }}
          make clean && make FINALPACKAGE=1
          
      - name: Prepare Artifact
        run: |
          mkdir -p output
          # Derlenen dylib'i bul ve kopyala
          find .theos/obj -name "*.dylib" -exec cp {} output/Health.dylib \;

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Kingmod-Dylib
          path: output/Health.dylib
