name: Onurcan-Dobby-Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Dobby (Static Library)
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth 1
          cd Dobby
          mkdir build && cd build
          # HATA ÇÖZÜMÜ: ARCH ve OS parametrelerini zorla veriyoruz
          cmake .. \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DCMAKE_OSX_SYSROOT=iphoneos \
            -DARCH=arm64 \
            -DOS=iOS \
            -DDOBBY_GENERATE_SHARED=OFF \
            -DBUILD_SHARED_LIBS=OFF
          make -j$(sysctl -n hw.ncpu)
          cp libdobby.a ../../

      - name: Compile Bypass Dylib
        run: |
          mkdir -p output
          clang -dynamiclib -arch arm64 \
            -isysroot $(xcrun --sdk iphoneos --show-sdk-path) \
            -miphoneos-version-min=11.0 \
            -fobjc-arc \
            -framework Foundation -framework UIKit \
            -I./Dobby/include \
            -L. -ldobby \
            Tweak.m -o output/OnurcanDobby.dylib

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Onurcan-Dobby-Bypass
          path: output/OnurcanDobby.dylib
