      - name: Compile
        run: |
          mkdir -p build
          clang -dynamiclib -arch arm64 \
            -isysroot $(xcrun --sdk iphoneos --show-sdk-path) \
            -miphoneos-version-min=11.0 \
            -fobjc-arc \
            -framework Foundation -framework UIKit \
            Tweak.m patch.c -o build/OnurcanBypass.dylib
