      - name: Setup Theos
        run: |
          # 1. Theos'u indir
          git clone --recursive https://github.com/theos/theos.git $GITHUB_WORKSPACE/theos
          
          # 2. ÇAKIŞMAYI ÖNLEMEK İÇİN VAR OLAN 'sdks' KLASÖRÜNÜ SİLİYORUZ
          rm -rf $GITHUB_WORKSPACE/theos/sdks
          
          # 3. Şimdi temiz alana SDK'ları indiriyoruz
          git clone --depth 1 https://github.com/theos/sdks.git $GITHUB_WORKSPACE/theos/sdks
          
          # 4. Substrate kütüphanesini ayarla
          curl -LO https://github.com/theos/sdks/raw/master/CydiaSubstrate.tbd
          cp CydiaSubstrate.tbd $GITHUB_WORKSPACE/theos/lib/libsubstrate.tbd
