name: Build Dobby Static iOS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone Dobby
        run: |
          git clone --depth=1 https://github.com/jmpews/Dobby.git

      - name: Build libdobby.a manually
        run: |
          cd Dobby
          
          SDK=$(xcrun --sdk iphoneos --show-sdk-path)

          clang -arch arm64 -isysroot $SDK -miphoneos-version-min=12.0 -c source/InterceptRouting/InlineHookRouting/ARM64/*.cc
          clang -arch arm64 -isysroot $SDK -miphoneos-version-min=12.0 -c source/TrampolineBridge/Trampoline/*.cc
          clang -arch arm64 -isysroot $SDK -miphoneos-version-min=12.0 -c source/Memory/*.cc
          clang -arch arm64 -isysroot $SDK -miphoneos-version-min=12.0 -c source/*.cc

          ar rcs libdobby.a *.o

      - name: Upload libdobby.a
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-ios-arm64
          path: Dobby/libdobby.a