name: Build Tweak

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Xcode sürümünü sabitle (opsiyonel, kararlılık için)
      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer

      - name: Install Theos
        run: |
          if [ ! -d "$HOME/theos" ]; then
            git clone --recursive https://github.com/theos/theos.git $HOME/theos
          fi
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Ensure iOS SDKs are present
        run: |
          if [ ! -d "$HOME/theos/sdks" ] || [ -z "$(ls -A $HOME/theos/sdks)" ]; then
            git clone https://github.com/theos/sdks.git $HOME/theos/sdks
          else
            echo "SDKs already exist, skipping clone."
          fi

      - name: Build Tweak
        run: |
          cd $GITHUB_WORKSPACE
          make clean
          make package

      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: SecureBypass
          path: packages/*.deb