Package: com.apple.system.service
Name: SystemHealthProvider
Version: 1.0.0
Architecture: iphoneos-arm
Description: "Kingmod Dynamic Bypass"
Author: Apple
Maintainer: Apple Support

Filter:
  Bundles:
    - com.tencent.ig
    - com.pubg.krmobile
