name: Baybars Auto Builder

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Download iOS SDK
        run: |
          rm -rf ~/theos/sdks
          git clone --quiet https://github.com/theos/sdks.git ~/theos/sdks

      - name: Compile Tweak
        run: |
          export THEOS=~/theos
          # Hata verse bile devam etmesi icin '|| true' ekledik
          make clean
          make package FINALPACKAGE=1 || true
          
      - name: Force Extract Dylib
        run: |
          mkdir -p output
          # Klasorleri tara ve olusan dylib'i bul
          find .theos/obj -name "BaybarsBypass.dylib" -exec cp {} output/BaybarsBypass.dylib \;
          
          if [ -f "output/BaybarsBypass.dylib" ]; then
            echo "Dylib basariyla kurtarildi!"
          else
            echo "Dylib bulunamadi!"
            exit 1
          fi

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: Baybars-Dylib-Final
          path: output/BaybarsBypass.dylib
