name: Build-Bypass
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Theos
        uses: selected-pro/setup-theos@v1

      - name: Build Dobby
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth 1
          cd Dobby
          mkdir build && cd build
          cmake .. -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_ARCHITECTURES=arm64 -DCMAKE_OSX_SYSROOT=iphoneos -DDOBBY_GENERATE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF
          make -j$(sysctl -n hw.ncpu)
          cp libdobby.a ../../
          
      - name: Compile Tweak
        run: |
          make package FINALPACKAGE=1
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: Gemini-Bypass
          path: packages/*.deb
