name: Build-Dobby-Theos

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          brew update
          brew install cmake ldid dpkg

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $GITHUB_WORKSPACE/theos
          echo "THEOS=$GITHUB_WORKSPACE/theos" >> $GITHUB_ENV

      - name: Build Dobby (REAL FIX)
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth=1
          cd Dobby

          mkdir build
          cd build

          cmake .. \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_SYSROOT=iphoneos \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DDOBBY_OS=ios \
            -DDOBBY_ARCH=arm64 \
            -DDOBBY_GENERATE_SHARED=OFF \
            -DBUILD_SHARED_LIBS=OFF

          make -j$(sysctl -n hw.ncpu)
          cp libdobby.a $GITHUB_WORKSPACE/

      - name: Build Theos Tweak
        run: |
          export THEOS=$GITHUB_WORKSPACE/theos
          make clean
          make package FINALPACKAGE=1

      - name: Upload deb
        uses: actions/upload-artifact@v4
        with:
          name: Dobby-Tweak
          path: packages/*.deb