name: Build Bypass arm64e

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          # Eğer önceden kaldıysa temizle ve yeniden kur
          rm -rf $HOME/theos
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Setup iOS SDK
        run: |
          # Çakışmayı önlemek için önce klasörü siliyoruz
          rm -rf $THEOS/sdks
          git clone --depth=1 https://github.com/theos/sdks.git $THEOS/sdks

      - name: Build Tweak
        run: |
          # Dobby-free temiz derleme
          make package FINALPACKAGE=1
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TssBypass-Package
          path: |
            packages/*.deb
            .theos/obj/arm64e/*.dylib
