name: Baybars Auto Builder

on:
  push:
    branches: [ "main", "master" ] # Kodu her güncellediğinde otomatik başlar
  workflow_dispatch: # İstersen elinle de başlatabilirsin

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Download iOS SDK
        run: |
          git clone --quiet https://github.com/theos/sdks.git $THEOS/sdks

      - name: Compile Tweak
        run: |
          export THEOS=~/theos
          make clean
          make package FINALPACKAGE=1
          
      - name: Extract Dylib
        run: |
          mkdir -p output
          # .deb içindeki dylib'i dışarı çıkarıyoruz
          find packages/*.deb -exec dpkg-deb -x {} temp_deb \;
          find temp_deb -name "*.dylib" -exec cp {} output/BaybarsBypass.dylib \;

      - name: Upload Dylib Only
        uses: actions/upload-artifact@v4
        with:
          name: Baybars-Dylib-iOS17
          path: output/BaybarsBypass.dylib
