name: Baybars Bypass Build

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Build Tweak
        run: |
          # libdobby.a'nın ana dizinde olduğundan emin ol
          clang++ -arch arm64 -isysroot $(xcrun --sdk iphoneos --show-sdk-path) \
          -miphoneos-version-min=14.0 \
          -dynamiclib \
          -framework Foundation \
          -framework UIKit \
          -lc++ \
          Tweak.mm ./libdobby.a \
          -o BaybarsBypass.dylib

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BaybarsBypass-Dylib
          path: BaybarsBypass.dylib
