name: Baybars Auto Builder

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Download iOS SDK
        run: |
          git clone --quiet https://github.com/theos/sdks.git ~/theos/sdks

      - name: Compile Tweak
        run: |
          export THEOS=~/theos
          make clean
          make package FINALPACKAGE=1
          
      - name: Extract Dylib
        run: |
          mkdir -p output
          if [ -d "packages" ]; then
            find packages/*.deb -exec dpkg-deb -x {} temp_deb \;
            find temp_deb -name "*.dylib" -exec cp {} output/BaybarsBypass.dylib \;
          else
            echo "DEB dosyasi bulunamadi!"
            exit 1
          fi

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: Baybars-Dylib
          path: output/BaybarsBypass.dylib
