name: iOS Dobby Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install ldid || true

      - name: Set SDK
        run: |
          echo "SDK=$(xcrun --sdk iphoneos --show-sdk-path)" >> $GITHUB_ENV

      - name: Build dylib
        run: |
          clang++ \
          -std=c++17 \
          -dynamiclib \
          Tweak.mm \
          dobby.cpp \
          -o Tweak.dylib \
          -isysroot $SDK \
          -framework UIKit \
          -framework Foundation \
          -framework QuartzCore \
          -framework CoreGraphics \
          -lc++ \
          -Wno-unused-command-line-argument

      - name: Codesign dylib
        run: |
          ldid -S Tweak.dylib

      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: Tweak
          path: Tweak.dylib