name: Anogs Bypass Build (v4)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Theos
        run: |
          export THEOS=~/theos
          rm -rf $THEOS
          git clone --recursive https://github.com/theos/theos.git $THEOS
          rm -rf $THEOS/sdks
          git clone --quiet https://github.com/theos/sdks.git $THEOS/sdks
          echo "THEOS=$THEOS" >> $GITHUB_ENV

      - name: Debug - List Files
        run: |
          echo "--- Mevcut Dosyalar ---"
          ls -R
          echo "-----------------------"

      - name: Compile Tweak
        run: |
          make package FINALPACKAGE=1
        env:
          THEOS: ${{ env.THEOS }}

      - name: Upload Artifact (v4)
        uses: actions/upload-artifact@v4
        with:
          name: AnogsBypass-Deb
          path: packages/*.deb
