name: Baybars Auto Builder
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    env:
      THEOS: ${{ github.workspace }}/theos
    steps:
      - uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          # Theos'u doğrudan çalışma dizinine kur ki her yerden erişilsin
          git clone --recursive https://github.com/theos/theos.git $THEOS
          
      - name: Link System SDK
        run: |
          mkdir -p $THEOS/sdks
          ln -s /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk $THEOS/sdks/iPhoneOS.sdk

      - name: Build
        run: |
          # THEOS değişkenini burada da tanımlıyoruz
          export THEOS=${{ github.workspace }}/theos
          export PATH="$THEOS/bin:$PATH"
          make package FINALPACKAGE=1

      - name: Export
        run: |
          mkdir -p output
          find .theos/obj -name "*.dylib" -exec cp {} output/BaybarsBypass.dylib \;

      - uses: actions/upload-artifact@v4
        with:
          name: BaybarsBypass
          path: output/
