name: Build-Bypass-V13
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # v4'e güncellendi

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "$HOME/theos/bin" >> $GITHUB_PATH

      - name: Build Dobby (Static Library)
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth 1
          cd Dobby
          mkdir build && cd build
          cmake .. -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_ARCHITECTURES=arm64 -DCMAKE_OSX_SYSROOT=iphoneos -DDOBBY_GENERATE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF
          make -j$(sysctl -n hw.ncpu)
          cp libdobby.a ../../
          
      - name: Compile Tweak
        run: |
          make package FINALPACKAGE=1
        env:
          THEOS: ${{ env.THEOS }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # v4'e güncellendi
        with:
          name: Gemini-Bypass-NonJB
          path: packages/*.deb
