name: Build Dobby iOS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Clone Dobby
        run: |
          git clone --depth=1 https://github.com/jmpews/Dobby.git dobby_src

      - name: Configure CMake (iOS)
        run: |
          cd dobby_src
          mkdir build && cd build
          cmake .. \
            -G Xcode \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0

      - name: Build Dobby (NO CODESIGN)
        run: |
          cd dobby_src/build
          xcodebuild \
            -configuration Release \
            -scheme dobby \
            -sdk iphoneos \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_IDENTITY="" \
            DEVELOPMENT_TEAM=""

      - name: Upload libdobby.a
        uses: actions/upload-artifact@v4
        with:
          name: libdobby
          path: dobby_src/build/Release-iphoneos/libdobby.a