name: Build iOS dylib

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SDK
        run: |
          SDK=$(xcrun --sdk iphoneos --show-sdk-path)
          echo "SDK=$SDK" >> $GITHUB_ENV

      - name: Build dylib
        run: |
          clang++ \
          -std=c++17 \
          -dynamiclib \
          -arch arm64 \
          -isysroot $SDK \
          -fobjc-arc \
          Tweak.mm \
          -framework UIKit \
          -framework Foundation \
          -framework QuartzCore \
          -framework CoreGraphics \
          -lc++ \
          -o Tweak.dylib

      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: Tweak-dylib
          path: Tweak.dylib
