name: Otomatik Tweak Derleyici

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Kodu GitHub'dan Çek
        uses: actions/checkout@v4 # v3 -> v4 yapıldı

      - name: Gerekli Araçları Kur (ldid & make)
        run: |
          brew install ldid make
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Theos Ortamını Hazırla
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos

      - name: iOS SDK İndir (iPhoneOS14.5)
        run: |
          curl -LO https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.tar.xz
          tar -xvf iPhoneOS14.5.sdk.tar.xz -C ~/theos/sdks/
          rm iPhoneOS14.5.sdk.tar.xz

      - name: Tweak'i Derle (Dylib Oluştur)
        run: |
          export THEOS=~/theos
          export PATH=$THEOS/bin:$PATH
          
          make package \
            TWEAK_NAME=SecureBypass \
            SecureBypass_FILES=Tweak.mm \
            FINALPACKAGE=1 \
            DEBUG=0 \
            STRIP=1 \
            SIGN_SKIP=1 \
            CODESIGN_IPA=0 \
            ARCHS="arm64 arm64e" \
            TARGET="iphone:clang:latest:13.0"

      - name: Derlenen Dosyayı (Artifact) Teslim Et
        uses: actions/upload-artifact@v4 # KRİTİK HATA BURADAYDI: v3 -> v4 yapıldı
        with:
          name: Bypass-Dosyasi
          path: |
            .theos/obj/debug/*.dylib
            packages/*.deb
