name: V5 Auto Build v4
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4 # Repo kontrolü v4

      - name: Install Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=/Users/runner/theos" >> $GITHUB_ENV

      - name: Setup SDK
        run: |
          git clone https://github.com/theos/sdks.git $THEOS/sdks

      - name: Setup KittyMemory
        run: |
          # Klasörü oluştur ve sadece gerekli dosyaları çek
          mkdir -p KittyMemory
          git clone --depth 1 https://github.com/joeyjurjens/KittyMemory.git temp_kitty
          cp -r temp_kitty/KittyMemory/* KittyMemory/
          rm -rf temp_kitty

      - name: Build Tweak
        run: |
          export THEOS=$THEOS
          make package FINALPACKAGE=1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # İsteğin üzerine v4 kullanıldı
        with:
          name: Bypass-Dylib-v5
          path: .theos/obj/arm64/*.dylib
          if-no-files-found: error
