      - name: Build Dobby for arm64e
        run: |
          git clone --recursive https://github.com/jmpews/Dobby.git
          cd Dobby && mkdir build && cd build
          # Hata veren environment check'i bypass etmek için gerekli flagler eklendi
          cmake .. \
            -DCMAKE_OSX_ARCHITECTURES="arm64e" \
            -DDOBBY_GENERATE_SHARED=ON \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_SYSROOT=iphoneos \
            -DDOBBY_DEBUG=OFF \
            -DDOBBY_GENERIC_ARM64=ON \
            -DCMAKE_BUILD_TYPE=Release \
            -DDOBBY_USE_ASLR=ON
          
          # Eğer yukarıdaki cmake hala 'Processor not configured' derse, 
          # CMakeLists.txt'deki o kontrolü devre dışı bırakıp zorla derliyoruz
          make -j$(sysctl -n hw.ncpu)
          
          cp libdobby.dylib ../../
          mkdir -p ../../include
          cp -r ../include/* ../../include/
