name: Build iOS Dylib

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Verify files
        run: |
          echo "Repo files:"
          ls -R

      - name: Build tweak.dylib
        run: |
          SDK=$(xcrun --sdk iphoneos --show-sdk-path)

          clang++ \
            -dynamiclib \
            -arch arm64 \
            -isysroot $SDK \
            -miphoneos-version-min=12.0 \
            -fobjc-arc \
            -std=c++17 \
            -Iinclude \
            Tweak.mm \
            libdobby.a \
            -framework Foundation \
            -lc++ \
            -o tweak.dylib

      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: tweak-dylib
          path: tweak.dylib