name: Build-Dobby-iOS-Static

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone Dobby
        run: |
          git clone https://github.com/jmpews/Dobby.git --depth=1

      - name: Patch Dobby CMake Bugs
        run: |
          echo ">>> Disable environment check"
          sed -i '' '1,200d' Dobby/cmake/build_environment_check.cmake
          echo 'message(STATUS "Dobby environment check bypassed")' > Dobby/cmake/build_environment_check.cmake

      - name: Configure & Build libdobby.a (SAFE MODE)
        run: |
          cd Dobby
          mkdir build
          cd build

          cmake .. \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_SYSROOT=iphoneos \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DBUILD_SHARED_LIBS=OFF \
            -DDOBBY_BUILD_EXAMPLE=OFF \
            -DDOBBY_BUILD_TEST=OFF \
            -DDOBBY_ENABLE_SYMBOL_RESOLVER=OFF \
            -DDOBBY_ENABLE_IMPORT_TABLE_REPLACE=OFF \
            -DDOBBY_ENABLE_NEAR_BRANCH=ON \
            -DDOBBY_DEBUG=OFF

          make -j$(sysctl -n hw.ncpu)

      - name: Collect libdobby.a
        run: |
          mkdir -p output
          find Dobby/build -name "libdobby*.a"
          cp Dobby/build/libdobby*.a output/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-ios-arm64
          path: output/